[flake8]
max-line-length = 88
extend-ignore = E203
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .eggs,
    *.egg,
    tests/*,
    examples/*,
    dependabot_check/*

per-file-ignores =
    # Allow unused imports in __init__.py files
    __init__.py:F401,F403