[flake8]
max-line-length = 88
extend-ignore = E203
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .eggs,
    *.egg,
    tests/*,
    examples/*,
    dependabot_check/*

per-file-ignores =
    # Allow unused imports in __init__.py files
    __init__.py:F401,F403
    # Ignore issues in these files temporarily
    **/vulnerabilities/aggregator_async.py:F401,E501,W292,W293,E303
    **/async_http.py:E501,W292,F401
    **/config.py:E501,F401